body{
    background:skyblue;	
 }
 nav{
	background-color:rgb(255,255,255);
  
  height:30px;
	border-top:1px solid black;
	border-bottom:1px solid black;
  display: flex;
  justify-content:right;
  width:1400;
 }
 nav a{
   color:black;
   font-width:bold;
   font-size:20px;
   text-decoration:none;
   width:80px;
   text-tranaform:uppercase;
   padding-right: 10px;
 }
 a:hover{
  color:skyblue;
  background-color:red;
 }
  .jewelery-container{
    margin-left:100px;
    margin-right:100px;
    margin-top:5px;
    margin-bottom:100px;
    width:900px;
    background-color:white;
    height:900px;
    border:0.5px solid black;
    padding-right: 30px;
    padding-left: 30px;
  }
  .row1{
    display:flex;
    justify-content:center;
    margin-top:50px;
    gap:30px;
  }
   img{
    width:170px;
    height:250px;
    object-fit: cover;
   
   }
   .icon{width:40px;
        margin-left:3px;
        margin-right:3px;
        margin-top:35px;
        padding:7px;
   }
   .row2{
    display:flex;
     justify-content:center;
     gap:20px;
     mragin-top:30px;
   }
   .pic1{
    background-color:pink;
    border:1px solid black;
    text-align:center; 
    text-width:bold;
    padding:10px;
    width:180px;
   }
   .pic2{
    background-color:pink;
    border:1px solid black;
    text-align:center; 
     text-width:bold;
     padding:10px;
     width:180px;
     }
    .pic3{
    background-color:pink;
    border:1px solid black;
    text-align:center; 
     text-width:bold;
     padding:10px;
     width:180px;
   }
   .pic4{
    background-color:pink;
    border:1px solid black;
    text-align:center; 
     text-width:bold;
     padding:10px;
     width:180px;
   }
     h1,h2{
      background-color:pink;
      text-align:left;
      border:0.5px solid black;
     }
      footer{
        background-color:white;
        text-align:center;
        text-width: bold;
        width:1400;
      
      }
        #Necklace{
         background-color:skyblue;
         width:170px;
         height:30px;
         padding-top:20px;
         margin-top:0;
         object-fit:cover;
        }
        #Bracelet{
         background-color:skyblue;
         width:170px;
         height:30px;
         padding-top:20px;
          object-fit:cover;
         margin-top:0; 
        }
        #Earing{
          background-color:skyblue;
         width:170px;
         height:30px;
         padding-top:20px;
         margin-top:0;
          object-fit:cover;  
        }
        #Ring{
         background-color:skyblue;
         width:170px;
         height:30px;
         padding-top:20px;
         margin-top:0;
          object-fit:cover; 
        }
     
        body{
            background-color: skyblue;
        }
        nav {
            background-color:rgb(255, 255, 255);
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            padding-top: 5px;
            padding-bottom: 5px;
            display:flex;
            justify-content: right;
            width: 100%;
            position: fixed;
            margin-top: 0;
            box-shadow: 0px 2px 5px #ccc;
            z-index: 1;
            top: 0;
            height: 30px;
        }
        nav a {
            color: skyblue;
            text-decoration: none;
            font-weight: bold;
            text-transform: uppercase;
            width:80px;
            padding-right: 10px;
            margin-top: 0;
        }
        a:hover{
            color:black;
            background-color:#ded4d4 ;
            border-radius: 10px;
            height:20px;
            padding-left: 25px;
            padding-right: 0;
        }
        .jewelery-container{
            margin-left: auto;
            margin-right: auto;
            margin-top: 0;
            margin-bottom: 0;
            width:800px;
            background-color:white ;
            height: auto;
            border: 0.5px solid black;
            padding: 20px;
        }
        footer{
            background-color: white;
            color: black;
            font-weight: bold;
            height: 20px;
            text-align: center;
            width: 100%;
            margin-bottom: 0;
            height: 30px;
            border-bottom: 1px solid black;
            border-top: 1px solid black;
        }
        
        .main img{
            width: 100%;
            object-fit: cover;
        }
        .main{
            position: relative;
        }
        .main-detail{
            background-color: skyblue;
            border: 2px solid black;
            padding: 5px;
            color: white;
            text-align: center;
            position: absolute;
            top: 0;
            right: 0;
            /* By default, hide the name */
            visibility: hidden;
         }
         .main:hover .main-detail {
            visibility: visible;
        
        }
        /* Selects the <img> child */
        .main:hover img {
            opacity: 0.7;
        }
        .G-title{
            background-color: white;
            text-align: left;
            font-weight: bold;
            color: black;
        }
        #row{
            justify-content: center;
            display: flex;
            gap: 30px;
            margin-top: 40px;
        }
        .G-img img{
            border-radius: 100%;
            width: 200px;
            object-fit: cover;
            text-align: center;
            height: 200px;
            border: 3px solid #008080;
        }
        .h2{
            color: #008080;
            text-align: center;
            font-size: 30px;
        }
        .p{
            color: red;
            text-align: center;
            font-size: 30px;
        }
        .p2{
            color: green;
            text-align: center;
            font-size: 30px;
        }
        #head{
            margin-bottom: 100px;
        }
        